[submodule "models/yolov5"]
	path = models/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "models/yolov6"]
	path = models/yolov6
	url = https://github.com/meituan/YOLOv6.git
[submodule "models/yolov7"]
	path = models/yolov7
	url = https://github.com/WongKinYiu/yolov7
[submodule "models/yolov8"]
	path = models/yolov8
	url = https://github.com/ultralytics/ultralytics.git
